/* ProfileForm.scss */

$avatarSize: 160px;
$borderColor: #333;

.root-profile {
  display: flex;
  justify-content: center;
  background-color: #a7a1a1;
  position: relative;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}
.background-profile {
  overflow-y: auto;
  padding: 6% 0% 6% 5%;
  background-color: #ffffff;
  &.simple {
    height: 70vh;
  }

  &.vertical {
    height: 78vh;
  }
}

.avatar {
  width: $avatarSize;
  height: $avatarSize;
  margin: 0 auto;
}
.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  & span {
    margin-left: 8px;
    text-align: justify;
    font-size: 16px;
  }
}


.name {
  font-size: 36px;
  margin-bottom: 8px;
}

.position {
  font-size: 24px;
}

.leftColumn {
  border-left: 1px solid #333;
  padding-left: 36px !important;
}
.mt-c{
  margin-top: 18px;
}
.custom-font {
  font-size: 20px;
}
.hidden {
  display: none;
}

.dotted-input-profile {
  border-bottom: 2px dotted #333;
}

.textarea-dotted {
  textarea {
    width: 100%;
    line-height: 27px !important;
    background-color: transparent !important;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 9 6"><circle cx="2" cy="2" r="2" fill="black" /></svg>') !important;
    background-position: 0 6px !important;
    background-size: 2px 27px !important;
    overflow: hidden !important;
    padding-left: 6px;
  }
  .MuiInputBase-input{
    font-size: 16px;
  }
  .MuiInput-underline {
    &:before {
      content: unset;
    }

    &:after {
      content: unset;
    }
  }
  &::before {
    content: " ";
    height: 9px;
    left: 0px;
    right: 0px;
    position: absolute;
    z-index: 1;
    width: 100%;
  }
}

.description-exp {
  width: 100%;
}
.area-dotted-exp {
  padding-left: 8px;
  textarea {
    width: 100%;
    line-height: 27px !important;
    background-color: transparent !important;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 9 6"><circle cx="2" cy="2" r="2" fill="black" /></svg>') !important;
    background-position: 0 6px !important;
    background-size: 2px 27px !important;
    overflow: hidden !important;
    padding-left: 3px;
  }
  .MuiInputBase-input{
    font-size: 16px;
  }
  .MuiInput-underline {
    &:before {
      content: unset;
    }

    &:after {
      content: unset;
    }
  }
}

.input-dotted-exp {
  padding: 0px;
  input {
    border: none;
    outline: none;
    width: 100%;
  }
  .MuiInputBase-input{
    font-size: 16px;
  }
  .MuiInput-underline {
    &:before {
      content: unset;
    }

    &:after {
      content: unset;
    }
  }
}
.icon-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  & .icon-custom-minus {
    font-size: 12px;
    text-align: center;
  }
}
.jobObjective {
  padding: 16px;
  margin: 16px 0;
  position: relative;
  background-color: #eeeeee80;
  border-radius: 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  min-height: 120px;
}

.knowledge-input {
  .MuiInputBase-input{
    font-size: 16px;
  }
  .MuiInput-underline {
    &:before {
      content: unset;
    }

    &:after {
      content: unset;
    }
  }
}
.icon-knowledge{
  position: absolute;
  top: 0;
}
.box-date {
  display: flex;
  align-items: center;
  padding: 0 12px 0 4px;
  & .date-font {
    font-size: 16px;
    font-weight: 600;
    display: flex;
  }
  & .line-break {
    display: block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
  }
}

.companyName-class {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 12px 0 4px;
  & .date-font {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    width: 88%;
    text-transform: uppercase;
  }
}
.box-description {
  padding: 0 12px 0 4px;
  margin-top: 8px;
  width: 100%;
  & h4{
    font-size: 16px;
    text-transform: uppercase;
  }
}

.experience-item .experience-buttons {
  visibility: hidden;
  transition: visibility 0.3s;
}

.experience-item:hover .experience-buttons {
  visibility: visible;
}